# Relatórios de performance gerados pelo k6
mochawesome-report/
# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build output
dist/
build/

# Swagger editor temp
*.swagger-editor*

# Misc
*.tgz
.idea/

# Test output
*.lcov

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
